/*GENERELLE INDSTILLINGER*/

* {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.tilbage-knap {
    margin-left: 8vw;
}

#bubbles {
    height: 60vh;
    width: 100vw;
    background-image: url(img/plastic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/***** Cookies ****/
.cookie-container p {
    margin: 24px 0;
    line-height: 2;
    color: white;
}

.cookie-container a {
    text-decoration: underline;
}

.wrapper {
    padding: 32px;
}

.cookie-container {
    position: fixed;
    bottom: -100%;

    left: 0;
    right: 0;
    background: #2f3640;

    padding: 0 32px;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
    z-index: 9;
    transition: 400ms;
}

.cookie-container.active {
    bottom: 0;
}

.cookie-container a {
    color: #f5f6fa;
}

.cookie-btn {
    border: 0;
    background-color: #CAD8F4;
    font-size: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    height: 25px;

}






/**** Cookies slut *****/







/*GENERELLE INDSTILLINGER SLUT*/

/*FONTS*/
.hero-h1 {
    color: #edf0f7;
}

h1 {
    font-family: museo-sans, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
}

h2 {
    font-family: museo-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

h3 {
    font-family: museo-sans, sans-serif;
    font-weight: 900;
    color: #004B8B;
    font-style: normal;
    font-size: 1rem;
}

h4 {
    font-family: museo-sans, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 0.8rem;
}

p {
    font-family: museo-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #383838;
    font-size: 1rem;
}

a {
    text-decoration: none;
    font-family: museo-sans, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #004b8b;
}

button {
    border-radius: 5px;
    border: none;
    background-color: #CAD8F4;
    font-family: museo-sans, sans-serif;
    font-size: 1rem;
    height: 45px;
    width: 180px;

}

button:hover {
    transform: scale(1.05);
}

#burgerbutton {
    width: auto;
}


/*FONTS SLUT*/

/*BURGERMENU*/

.navbar {
    background-color: transparent;
}

.wrapper-menu {
    display: inline-block;
    cursor: pointer;
    transition: transform 330ms ease-out;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-6px, 4px);
    transform: rotate(-45deg) translate(-6px, 4px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -px);
    transform: rotate(45deg) translate(-8px, -7px);
}

.navbar-toggler-icon {
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 6px;
}

/*BURGERMENU SLUT*/

/*HEADER*/

.hero {
    background-image: url(img/texture-opacitylow.svg);
    background-size: contain;
    height: 100vh;
    background-position: 50%;
    /*        opacity: 35%;*/


}

.hero-heading {
    right: 40%;
    top: 35%;
    z-index: 3;
}

.hero-img1 {
    top: 15vh;
    right: 50vw;
    z-index: 2;
}

.hero-img2 {
    right: 35vw;
    top: 5vh;
}

.pil {
    top: 70vh;
    left: 50vw;
    width: 50px;
    height: 60px;
}

.pil-text {
    top: 70vh;
    left: 55vw;
    width: 50px;
    transform: rotate(90deg);
    font-weight: 700;
    font-family: museo-sans, sans-serif;
    text-transform: uppercase;

}

/*HEADER SLUT*/

/*FORSIDE*/

.img1 {

    height: 300px;
    width: 300px;
    top: 15%;
    right: 20%
}

.img2 {

    height: 250px;
    width: 250px;
    top: 35%;
    right: 45%
}

.img3 {
    background-image: url(img/ocean.jpg);
    height: 150px;
    width: 150px;
    top: 65%;
    right: 75%
}

.img4 {
    position: absolute;
    top: 70vh;
    right: 20vw;

}



.forside-frivillig {
    background-image: url(img/texture-opacitylow.svg);
    background-repeat: repeat;
    background-color: #edf0f7;
}



/*FORSIDE SLUT*/

/*OM OS*/
.img7 {

    position: absolute;
    right: 20vw;
    top: 15vh;
}

.img8 {
    margin-bottom: 15vh
}



/*OM OS SLUT*/



/*MEDIA QUERY*/
@media screen and (min-width: 768px) {

    .hero-img1 {
        right: 45vw;
    }

    .hero-img2 {
        top: 10vh;
        right: 30vw;
    }

    .img4 {
        top: 0;
        left: 10vw;
    }

    .img6 {
        position: absolute;
        top: -30%;
        right: 5vw;

    }

    .img7 {
        left: 20vw;
    }

    .forside-frivillig {
        height: 300px;
    }

    .pil-text {
        left: 52vw;
        top: 80vh;
    }

    .pil {
        top: 80vh;
    }

    .some {
        margin-top: 10vh;
    }

    .logo {
        margin-left: 20px;
        margin-top: 10px;
    }

    .tilbage-knap {
        margin-left: auto;
    }




}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {

    .hero-h1 {
        color: #383838;
    }

    .hero-img1 {
        right: 20vw;
        top: 20vh;
    }

    .hero-img2 {
        right: 10vw;
    }


}
